<a href="https://colab.research.google.com/github/LeonardoCastillo29/Mineria-de-datos/blob/main/Ej_Python_1844452.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [1]:
Matricula=184452
Nombre="Leonardo"

print( "Alumno:",Nombre,"\n","Matricula:",Matricula)

Alumno: Leonardo
 Matricula: 184452

Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
n1 = int(input("Introduce un número:" ))
n2 = int(input("Introduce otro número:"))


x =int(input("Inserte 0 para salir o cualquier otro numero para continuar:"))
while x !=0:
    Suma=n1+n2
    Resta=n1-n2
    Multiplicacion=n1*n2
    Division=n1/n2
    Exponente=n1**n2
    print("El resultado de la suma es:", Suma)
    print("El resultado de la resta es:", Resta)
    print("El resultado de la multiplicacion es:", Multiplicacion)
    print("El resultado de la division es:", Division)
    print("El resultado del exponente es:", Exponente)
    x =int(input("Inserte 0 para salir o cualquier otro numero para continuar:"))
    n1 = int(input("Introduce un número:" ))
    n2 = int(input("Introduce otro número:"))

Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
x=3
z=1
suma=0
for i in range(2,12):
    mi=3*i
    suma=suma+mi
    print("Multiplo",z,"es:",mi)
    z=z+1
print("La suma de los multiplos es:",suma)

Ejercicio 4
1.   Con una función de if else, revisar si un número es par o es impar.
2.   Con una función de if else, revisar si un número es primo o no.

In [ ]:
n1=int(input("Inserte un numero: "))

r1=n1%2

if r1==0:
    print("El numero es par")
else:
    print("El numero es impar")

n2=int(input("Inserte un numero: "))
for n in range(2, n2):
        if n2 % n == 0:
            print("No es primo", n, "es divisor")
        else:
            print("Es primo")

Ejercicio 5:
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [ ]:
n1 = float(input("Introduce tu primer número: ") )
n2 = float(input("Introduce tu segundo número: ") )

opcion = 0
while True:
    print("""
    Dime, ¿qué quieres hacer?
    
    1) Sumar los dos números
    2) Restar los dos números
    3) Multiplicar los dos números
    4) Dividir los dos numeros
    5) Exponente
    """)
    opcion = int(input("Elige una opción: ") )     

    if opcion == 1:
        print(" ")
        print("RESULTADO: La suma de",n1,"+",n2,"es igual a",n1+n2)
    elif opcion == 2:
        print(" ")
        print("RESULTADO: La resta de",n1,"-",n2,"es igual a",n1-n2)
    elif opcion == 3:
        print(" ")
        print("RESULTADO: El producto de",n1,"*",n2,"es igual a",n1*n2)
    elif opcion == 4:
        print(" ")
        print("RESULTADO: La division de",n1,"/",n2,"es igual a",n1/n2)
    elif opcion == 5:
        print(" ")
        print("RESULTADO: El exponente de",n1,"**",n2,"es igual a",n1**n2)
    else:
        print("Opción incorrecta")

Tuplas
1.   Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.
2.   Crear una tupla con valores enteros imprimir el primer y ultimo valor.
3.   Añadir 3 valores de string a la tupla.
4.   Verificar si una variable existe dentro de la tupla.

In [ ]:
#Punto 1
flotante=10.5
print(type(flotante))
integer=6
print(type(integer))
boleana=True
print(type(boleana))
compleja=4+5j
print(type(compleja))

#Punto 2
x=(1,2,3,4,5)
print(x[0])
print(x[4])

#Punto 3
y=("hola","me llamo","leo")
z=x+y
print(z)

#Punto 4
variable="daniel"
if variable in z:
    print("La variable existe dentro de la tupla")
else:
    print("La variable no existe dentro de la tupla")

Listas

1. Crear una lista con 40 elementos aleatorios enteros.
2. Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
3. Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
4. Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
5. Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [ ]:
#Punto 1
import random as rdm

n=range(0,100)
lista=rdm.sample(n,40)
print(lista)

#Punto 2
def dividir(lista):
    lista_pares=[0]
    lista_impares=[0]
    i=0
    for i in range(0,len(lista)):
        if lista[i]%2==0:
            lista_pares.append(lista[i]) 
        else:
             lista_impares.append(lista[i])
    print(lista_impares)
    print(lista_pares)


#Punto 3
listaejemplo=[8, 51, 29, 64, 86, 75, 52, 45, 3, 72, 30, 78, 62, 6, 88, 79, 67, 32, 4, 55, 41, 77, 37, 58, 53, 24, 11, 20, 15, 12, 56, 96, 82, 34, 26, 76, 28, 31, 69, 17]
dividir([8, 51, 29, 64, 86, 75, 52, 45, 3, 72, 30, 78, 62, 6, 88, 79, 67, 32, 4, 55, 41, 77, 37, 58, 53, 24, 11, 20, 15, 12, 56, 96, 82, 34, 26, 76, 28, 31, 69, 17])
lista_par=[0, 51, 29, 75, 45, 3, 79, 67, 55, 41, 77, 37, 53, 11, 15, 31, 69, 17]
lista_impar=[0, 8, 64, 86, 52, 72, 30, 78, 62, 6, 88, 32, 4, 58, 24, 20, 12, 56, 96, 82, 34, 26, 76, 28]
x=len(lista_par)
print(x)
y=len(lista_impar)
print(y)


#Punto 4
lista_impar.sort()
print(lista_impar)
lista_par.sort(reverse=True)
print(lista_par)


#Punto 5
print(dir(listaejemplo))
listaejemplo.insert(0,"Leonardo")
print(listaejemplo)
lista_Add=["Daniel","Castillo"]
listaejemplo.extend(lista_Add)
print(listaejemplo)
listaejemplo.reverse()
print(listaejemplo)
removed=listaejemplo.pop(1)
print(listaejemplo)

Diccionarios
1.   Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
2.   Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
3.   Usando el diccionario y un loop, imprimir solo los nombres.
4.   Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [ ]:
#Punto 1
person={
    "first name 1": "Leonardo","age 1": 20,
    "first name 2": "Galilea", "age 2": 18,
    "first name 3": "Jose"  ,  "age 3": 18,
    "first name 4": "Nelson" , "age 4": 12,
    "first name 5": "Dania",  "age 5": 20,
    "first name 6": "Antonio" , "age 6": 20
    }

print(person)


#Punto 2
age=[20,18,18,18,12,20,20]
age.sort()
print(age)


#Punto 3
for i in person:
    print(person["first name 1"])
    print(person["first name 2"])
    print(person["first name 3"])
    print(person["first name 4"])
    print(person["first name 5"])
    print(person["first name 6"])
    break


#Punto 4
person.update({
    "first name 7": "Carlos", "age 7": 18,
    "first name 8": "Carlos", "age 8": 18
})
 
print(person)

Sets
1.   Crea un set con 100 numeros aleatorios enteros del 1 al 25.
2.   Comprueba la longitud de tu set.
3.   Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [ ]:
import random

mySet=set()
lista=[]

def Rand(start, end, num):
    res =set()
  
    for element in range(num):
        res.add(random.randint(start, end))
  
    return res
  
# Driver Code

mySet= Rand(1, 25, 100)
lista=list(Rand(1,10,6))



print("Set:")
print(mySet)
print("Longitud del set:")
print(len(mySet))
print("Lista:")
print(lista)

print("Numeros de la lista que aparecen en el set")

for number in lista:
   if number in mySet:
       print(number)